app/__pycache__
app/migrations
app/bkp
big/settings.py
big/__pycache__
blinkit/__pycache__
blinkit/migrations
compare_2/__pycache__
compare_2/migrations
dunzo/__pycache__
dunzo/migrations
instamart/__pycache__
instamart/migrations
compare_2/__pycache__
compare_2/migrations
compare_2/__pycache__
compare_2/migrations
scrapped_data/
static/admin
zepto/__pycache__
zepto/migrations
scrapped_data.zip
