.search:focus{
    background-color: white;
}

.not-visible{
    display: none;
}
.result-card {
    width: 50%;
    max-height: 200px;
    transition: 0.5s;
    padding:  15px 15px;
    margin: 0 auto;
}

.item {
    text-decoration: none;
}



